@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
      input[type="checkbox"] {
            accent-color: #009D6D !important;
      }

      select:focus {
            outline: none;
            border-color: #009D6D;
      }

      textarea:focus {
            outline: none;
            border-color: #009D6D;
      }
}